vim/undo/*
tags
*.swp
*.swo
.tags
.nrepl-port
ng
vim/.netrwhist
notes
.DS_Store
lein/self-installs
repl-port
lein/credentials.clj.gpg
emacs.d/backups
emacs.d/.smex-items
emacs.d/auto-save-list
emacs.d/places
*#
emacs.d/url/cookies
vim/swap/*
vim/bundle/active
vim/bundle/repl.vim
vim/bundle/show.vim
vim/bundle/cntr.vim
vim/bundle/org.vim
vim/bundle/simple-vim-shell
vim/bundle/scratch
vim/bundle/scratch.vim
vim/bundle/workflow
vim/bundle/workflow.vim
vim/bundle/syntastic
vim/bundle/syntastic.vim
vim/bundle/searchers
vim/bundle/searchers.vim
vim/bundle/active.vim
vim/bundle/todo
vim/bundle/todo.vim
vim/bundle/fuzzy
vim/bundle/fuzzy.vim
vim/bundle/open.vim
vim/bundle/open
vim/bundle/csv-utils.vim
vim/bundle/csv-utils
vim/bundle/bufedit.vim
vim/bundle/bufedit
vim/bundle/buffalator.vim
vim/bundle/buffalator
vim/bundle/buffalator.vim
vim/bundle/par.vim
vim/bundle/doit
vim/bundle/doit.vim
vim/bundle/journal.vim
vim/bundle/journal
vim/bundle/workflow.vim
vim/bundle/workflow
vim/bundle/text.vim
vim/bundle/todo.vim
*.scpt
vim/bundle/md++
vim/bundle/mdpp
lein/repl-history
*.pyc
vim/bundle/print_todo
vim/bundle/psql.vim
vim/spell
sql.vim
