vim/undo/*
vim/backup/*
tags
*.swp
*.swo
.tags
.nrepl-port
vim/.netrwhist
notes
.DS_Store
lein/self-installs
repl-port
lein/credentials.clj.gpg
vim/swap/*
vim/bundle/active
vim/bundle/show.vim
vim/bundle/foxdot.vim
vim/bundle/cntr.vim
vim/bundle/org.vim
vim/bundle/simple-vim-shell
vim/bundle/scratch
vim/bundle/scratch.vim
vim/bundle/workflow
vim/bundle/workflow.vim
vim/bundle/syntastic
vim/bundle/syntastic.vim
vim/bundle/searchers
vim/bundle/searchers.vim
vim/bundle/active.vim
vim/bundle/todo
vim/bundle/todo.vim
vim/bundle/fuzzy
vim/bundle/fuzzy.vim
vim/bundle/repl.vim
vim/bundle/tap.vim
vim/bundle/open.vim
vim/bundle/open
vim/bundle/csv-utils.vim
vim/bundle/csv-utils
vim/bundle/bufedit.vim
vim/bundle/bufedit
vim/bundle/doit
vim/bundle/doit.vim
vim/bundle/workflow.vim
vim/bundle/workflow
vim/bundle/todo.vim
vim/bundle/mdpp
lein/repl-history
*.pyc
vim/bundle/print_todo
vim/bundle/psql.vim
vim/spell
vim/bundle/repl.vim
vim/bundle/tap.vim
vim/bundle/multiselect.vim
vim/bundle/wordcount.vim
vim/ftplugin/sql.vim
